.app-title {
  text-align: center;
  padding: 10px 0;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.custom-select {
  width: 50%;
  min-width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
